.m_left {  float:left;}

.mm_div {width:100px; height:15px; float:right; margin-right:30px;}
.mm_sel { height:20px; float:right;}

.wu {float:right;}

.mar_b { margin-bottom:15px;}
.addType{float:right;}

.ttin td input { width:100px;}