
.tu_nav { padding:0 60px;}
.tu_ri {float:right; height:50px; }

.main { height:300px; float:left;}

.m_left { width:75%; float:left;}
.m_right {width:20%; float:right;}
.mm_div {width:100px; height:15px; float:right; margin-right:30px;}
.mm_sel { height:20px; float:right;}

.wu {float:right;}

.mar_b { margin-bottom:15px;}
